*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); /* Modern gradient background */
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex: 1;
}

section {
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    letter-spacing: 2px;
}

p, a {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

.term-project {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.7);
}

footer {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
