*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #5f2c82, #49a09d);
    color: #fff;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.7);
}

h1, h2 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    border-bottom: 3px solid #49a09d;
    padding-bottom: 10px;
    margin-top: 40px;
}

p, a {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

a {
    color: #49a09d;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: #fff;
    border-bottom: 2px solid #49a09d;
}

img.profile-image {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    border-radius: 50%;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.8);
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.8rem;
}
